@font-face {
    font-family: 'Proxima Nova Light';
    src: url('./fonts/Proxima Nova/ProximaNova-Light.otf');
}

@font-face {
    font-family: 'Proxima Nova SBold';
    src: url('./fonts/Proxima Nova/ProximaNova-Sbold.otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('./fonts/Proxima Nova/ProximaNova-Bold.otf');
}
