.post-info {
    background: $header-background;
    color: $header-text;
    padding: 40px;
    padding: 4rem;
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}

.title, .author {
    margin-bottom: 0;
}
